/* xl */
@media(max-width:1200px) {}

/* lg */
@media(max-width:992px) {
    .logo__elem {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .comment__text {
        width: 100%;
    }

    .process__title {
        width: 100%;
    }

    .form__text {
        width: 100%;
    }

    .works-title__text {
        width: 100%;
    }

    .footer__middle-text {
        text-align: right;
    }

    .about__title-text {
        width: 100%;
    }

    .about__quetions-text {
        width: 100%;
    }
}


/* md */
@media(max-width:767px) {
    .skills__image {
        min-height: 400px;
    }

    .skills__img {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer__left {
        margin-bottom: 50px;
    }

}

/* sm */
@media(max-width:576px) {
    .footer__left {
        text-align: center;
        margin-bottom: 0;
    }

    .footer__middle-text {
        text-align: center;
    }
}